.App {
  text-align: center;
}

form{
  background-color: cornflowerblue;
  display: inline-block;
  padding: 20px;
  border: 5px solid black;
}
form label{
  display: inline-block;
  width: 150px;

}
form div{
  margin: 20px;
}
nav{
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1rem;
}



